*.log
*.pyc
__pycache__/
cache/
files/
.manager/
whisper/cache/
whisper/ggml*.bin
whisper/__pycache__/
disabled-backup/
repo-reference/
fonts-extra/
gost/
tars/
installer/
doc/
whisper/faster-whisper-small/
whisper/ggml*.bin
whisper/__pycache__/
cache/
files/
